/* index.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
  }

  .largeText {
    font-size: 70px; 
    text-align: center;
    
  }
  

  .buttonContainer {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
  }

  .greyButton {
    background-color: #ececed; 
    font-size: 14px; 
    color: black;
    border-radius: 5px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    padding: 10px 10px; 
    border: none; 
    cursor: pointer; 
    width: 150px;
    margin-right: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  .greyButton:hover {
    background-color: darkgrey;
    font-size: 14px; 
  }

  .blueButton {
    background-color: #002d3c; 
    font-size: 14px; 
    color: white;
    border-radius: 5px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    width: 150px;
    margin-right: 30px;
  }
  
  .blueButton:hover {
    background-color: #001b24; 
    font-size: 14px; 
    color: white; 
    border-radius: 5px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    padding: 10px 20px; 
    border: none; 
    width: 150px;
  }